body {
  font-family: sans-serif;
}
#title {
  color: gray;
  text-align: center;
}
.curr-time {
  position: relative;
  top: 4px;
  right: 0px;
  color: gray;
  left: 3px;
  font-size: 13px;
}
.logo {
  position: relative;
  top: 10px;
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border-style: solid;
  color: black;
  margin-bottom: 3px;
}
.container {
  max-width: 55%;
  background-color: #ffffff;
  margin: auto;
  height: 300px;
  border: solid 2px;
  border-radius: 08px;
  overflow-y: auto;
}
.message-left {
  position: relative;
  top: 05px;
  background-color: rgb(241, 240, 240);
  width: auto;
  padding: 5px;
  margin: 20px;
  border: solid black 2px;
  border-radius: 0px 10px 10px 10px;
  /* left msg */
  float: left;
  clear: both;
  height: auto;
}
.message-right {
  background-color: rgb(122, 221, 235);
  width: auto;
  padding: 5px;
  margin: 20px;
  border: solid black 2px;
  border-radius: 10px 10px 0px 10px;
  /* right msg */
  float: right;
  clear: both;
  height: auto;
}
.send {
  text-align: center;
  margin-top: 2px;
  position: sticky;
}
#msg {
  width: 50%;
  height: 27px;
  border-color: black;
  font-size: medium;
  font-weight: bolder;
}
#btn {
  height: 29px;
  background-color: rgb(122, 221, 235);
  font-weight: bolder;
}
.user-name {
  font-weight: bolder;
  position: relative;
  bottom: 5px;
}
.msg-cell {
  font-weight: normal !important;
  font-size: 15px;
}
.newjoindiv {
  position: fixed;
}
.newjoin {
  border-radius: 5px;
  background-color: rgb(209, 209, 135);
  color: black;
  padding: 3px;
  margin-left: 16px;
  text-align: center;
}
#msg::placeholder {
  text-align: center;
}

/*scrollbar style*/
/* width */
::-webkit-scrollbar {
  width: 08px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777676;
}
